// hero section
.hero-section {
  min-height: 90vh;
  width: 100%;
  background: 
    linear-gradient(120deg, rgba(7, 7, 10, 0.600) 60%, rgba(102,51,153,0.650) 100%),
    url('../img/content-img/banner.png') center center/cover no-repeat;
  color: $color-text;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  .container {
    z-index: 2;
    position: relative;
  }

  .hero-title {
    font-family: $font-title;
    font-size: 2.6rem;
    color: $color-text;

    .brand-name {
      color: $color-highlight;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }

  .hero-subtitle {
    font-family: $font-text;
    font-size: 1.25rem;
    color: $color-text;
    opacity: 0.85;
    margin-bottom: 2rem;
  }

  .hero-btn-group {
    .btn {
      font-family: $font-title;
      font-size: 1.1rem;
      border-radius: 30px;
      transition: all 0.22s;
    }
    .btn-void {
      background: $color-highlight;
      color: $color-background;
      border: none;

      &:hover, &:focus {
        background: lighten($color-highlight, 7%);
        color: $color-background;
        box-shadow: 0 2px 18px rgba(102, 51, 153, 0.12);
        text-decoration: none;
      }
    }
    .btn-outline-void {
      background: transparent;
      color: $color-highlight;
      border: 2px solid $color-highlight;

      &:hover, &:focus {
        background: $color-highlight;
        color: $color-background;
        box-shadow: 0 2px 16px rgba(102, 51, 153, 0.10);
        text-decoration: none;
      }
    }
  }
}

// responsive
@include media-breakpoint-up(lg) {
  .hero-section {
    min-height: 60vh;
    .hero-title {
      font-size: 2rem;
    }
    .hero-subtitle {
      font-size: 1rem;
    }
  }
}
@include media-breakpoint-up(sm) {
  .hero-section {
    padding: 3rem 0;
    .hero-title {
      font-size: 1.25rem;
    }
  }
}